

body{
    flex-direction: row;
    display: flex;
    background-image: url("fundo.jpg");
}

h1{
    position: relative;
    text-align: center;
    color: black;
    justify-content: center;
    padding-top: 50px;
}

#botao1, #botao2{
    position: relative;
    flex-direction: row;
    width: 250px;
    height: 200px;
    margin: 10px;
    border-radius: 15%;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 25px;
    font-family: sans-serif;

    
}

#link{
    position: relative;
    flex-direction: row;
    width: 250px;
    height: 200px;
    margin: 10px;
    border-radius: 15%;
    background-color: black;
    font-size: 25px;
    font-family: sans-serif;

}

a{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    background-color: black;
    color: white;
}


#botoes{
    padding: 50px;
    
    justify-content: center;

}